.container {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: inherit;
  flex-wrap: wrap;
}

.container .thumbnailsImg {
  width: 200px;
  transition: 0.3s;
  opacity: 0.7;
  margin: 0 auto 20px;
  display: block;
}

.imgBlock:hover .thumbnailsImg{
  transition: 0.3s;
  transform: scale(1.05, 1.05);
  opacity: 1;
}

.container .imgBlock {
  display: inline-block;
  margin: 10px 20px;
  cursor: pointer;
  width: 35%;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.3s;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
}

.descriptionContainer .fullImage {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.imgBlock:hover {
  transition: 0.3s;
  border: 1px solid #000;
}
