.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    z-index: 99998;
}

.modalWrapContainer {
    z-index: 99999;
    position: relative;
    background-color: #fff;
}

.closeButton {
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.closeButton:hover {
    opacity: 1;
}

.closeButton:before, .closeButton:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.closeButton:before {
    transform: rotate(45deg);
}
.closeButton:after {
    transform: rotate(-45deg);
}


.isFixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 10vh;
    margin: auto;
    min-height: 70vh;
    width: 80%;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}